@charset "UTF-8";
:root {
  --color-1: #fff;
  --color-2: #000000;
  --color-3: #9a784a;
  --color-4: #d0d0d0;
  --color-5: #000000c2;
  --fz-1: 48px;
  --fz-2: 20px;
  --fz-3: 18px;
  --fz-4: 14px;
  --fz-5: 12px;
}
@media (max-width: 1000px) {
  :root {
    --fz-1: 36px;
  }
}
@media (max-width: 600px) {
  :root {
    --fz-1: 32px;
  }
}

@font-face {
  font-family: FiraSansCondensed;
  font-display: swap;
  src: url("../fonts/FiraSansCondensed-Regular.woff2") format("woff2"), url("../fonts/FiraSansCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--color-2);
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 96.875rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

@media (max-width: 850px) {
  .header {
    background-color: #8ac34a !important;
  }
}
.header__body {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 55px;
  margin-right: 30px;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 560px) {
  .header__logo img {
    max-width: 200px;
  }
}
@media (max-width: 1356px) {
  .header__logo {
    margin-right: 25px;
    margin-left: 25px;
  }
}
@media (max-width: 850px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 560px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__logo-2 {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 850px) {
  .header__logo-2 {
    display: none;
  }
}
.header__main {
  max-width: 1175px;
  width: 100%;
  color: var(--color-1);
  padding-bottom: 40px;
  padding-left: 60px;
  padding-top: 10px;
  position: relative;
  z-index: 110;
}
.header__main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10000%;
  height: 100%;
  background-color: #000000c2 !important;
  z-index: -1;
}
@media (max-width: 850px) {
  .header__main::after {
    display: none;
  }
}
@media (max-width: 1356px) {
  .header__main {
    padding-left: 35px;
  }
}
@media (max-width: 560px) {
  .header__main {
    padding-left: 0;
    background-color: unset;
  }
  .header__main::after {
    background-color: unset;
  }
}
.header__box-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1356px) {
  .header__box-main {
    gap: 25px;
    flex-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .header__box-main {
    justify-content: center;
  }
}
.header__contacts {
  margin-right: 25px;
  font-size: var(--fz-2);
  font-weight: 400;
  min-width: 230px;
}
@media (any-hover: hover) {
  .header__contacts a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1356px) {
  .header__contacts {
    margin-bottom: 0px;
    margin-right: 0;
  }
}
.header__contacts-phone {
  margin-bottom: 20px;
  display: flex;
}
.header__contacts-phone img {
  max-width: 100%;
  margin-right: 20px;
}
.header__contacts-phone a {
  white-space: nowrap;
}
@media (max-width: 850px) {
  .header__contacts-phone {
    display: none;
  }
}
.header__contacts-mail {
  display: flex;
}
.header__contacts-mail img {
  max-width: 100%;
  margin-right: 16px;
}
.header__contacts-mail a {
  white-space: nowrap;
}
@media (max-width: 850px) {
  .header__contacts-mail {
    display: none;
  }
}
.header__soc-catalog {
  text-align: center;
}
@media (min-width: 850px) {
  .header__soc-catalog {
    display: none;
  }
}
.header__soc-catalog p {
  margin-bottom: 15px;
}
.header__soc-catalog p:last-child {
  margin-bottom: 0px;
}
.header__social {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
@media (max-width: 1355px) {
  .header__social {
    justify-content: center;
    margin-right: 0;
  }
}
.header__social-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color-3);
  position: relative;
}
.header__social-inner:last-child {
  margin-right: 0px;
}
.header__social-inner img {
  max-width: 100%;
  vertical-align: middle;
}
.header__button {
  flex: 1 1 100%;
}
.header__inner-cart {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
@media (max-width: 560px) {
  .header__inner-cart {
    justify-content: center;
  }
}
@media (max-width: 1356px) {
  .header__menu {
    margin: 0 auto;
    flex: 1 1 100%;
  }
}

.cart-header__body {
  display: flex;
}
.cart-header__img {
  align-self: flex-end;
  margin-right: 8px;
  padding-bottom: 1px;
}
.cart-header__box {
  font-size: var(--fz-5);
}
.cart-header__text {
  color: var(--color-3);
}

@media (max-width: 850px) {
  .menu {
    max-height: 0px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }
}
@media (max-width: 0px) {
  .menu {
    position: absolute;
    z-index: -1;
    left: -100%;
    height: 500px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-5);
    padding-top: 140px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .menu-open .menu {
    left: 0;
    overflow: auto;
  }
}
.menu__body {
  max-width: 738px;
  width: 100%;
  margin: 0 auto;
}
.menu__list {
  display: flex;
}
@media (max-width: 850px) {
  .menu__list {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.menu__item {
  margin-right: 35px;
}
.menu__item:last-child {
  margin-right: 0px;
}
@media (max-width: 850px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .menu__item:last-child {
    margin-bottom: 0px;
  }
}
.menu__link {
  text-transform: uppercase;
  font-size: var(--fz-3);
  font-weight: 600;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 5px;
  background-color: var(--color-1);
  opacity: 0;
  border-radius: 3px;
  height: 0;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    opacity: 1;
    height: 5px;
  }
}
@media (max-width: 850px) {
  .menu__link {
    font-size: 20px;
  }
}

.active-spoller {
  max-height: 200px;
  transition: max-height 0.25s ease-in;
}

.icon-menu {
  display: none;
}
@media (max-width: 850px) {
  .icon-menu {
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 115;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
  font-size: var(--fz-4);
}
@media (max-width: 490px) {
  .footer {
    font-size: var(--fz-3);
  }
}
.footer__body {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer__body {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 25px;
  }
}
.footer__logo {
  margin-right: 115px;
}
.footer__logo img {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .footer__logo {
    flex: 0 1 48%;
    margin-right: 0;
  }
}
.footer__social {
  margin-right: 80px;
  display: flex;
  align-items: center;
}
.footer__social img {
  max-width: 100%;
}
.footer__social a {
  display: flex;
  margin-right: 25px;
}
.footer__social a:last-child {
  margin-right: 0px;
}
@media (max-width: 1200px) {
  .footer__social {
    flex: 0 1 48%;
    margin-right: 0;
    justify-content: center;
  }
}
.footer__menu {
  margin-right: 15px;
}
@media (max-width: 1200px) {
  .footer__menu {
    flex: 0 1 48%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .footer__menu {
    margin-right: 0;
  }
}
.footer__list {
  display: flex;
}
@media (max-width: 490px) {
  .footer__list {
    flex-direction: column;
    text-align: center;
  }
}
.footer__item {
  margin-right: 35px;
}
.footer__item:last-child {
  margin-right: 0px;
}
@media (max-width: 490px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    text-decoration: underline;
  }
}
.footer__galaxy {
  margin-left: auto;
}
@media (max-width: 1200px) {
  .footer__galaxy {
    flex: 0 1 48%;
    margin-left: 0;
  }
}

.main__body {
  display: flex;
}
.main__advantages {
  flex: 0 0 340px;
}
@media (max-width: 1000px) {
  .main__advantages {
    flex: 0 0 220px;
  }
}
@media (max-width: 750px) {
  .main__advantages {
    display: none;
  }
}
.main__content {
  flex: 0 1 1050px;
  padding-left: 40px;
  padding-top: 70px;
  padding-bottom: 95px;
}
@media (max-width: 750px) {
  .main__content {
    padding-left: 0;
  }
}

.advantages-main__item {
  height: 114px;
  margin-left: 50px;
  position: relative;
  padding-right: 50px;
}
.advantages-main__item::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -70px;
  background-image: url("../img/catalog-svg/bg.svg");
  background-repeat: no-repeat;
  width: 123.5%;
  height: 140%;
  z-index: 5;
}
.advantages-main__item:last-child {
  height: 114px;
}
.advantages-main__item p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-family: "FiraSansCondensed";
  font-size: var(--fz-4);
  line-height: 15px;
  z-index: 6;
}
@media (max-width: 1250px) {
  .advantages-main__item p {
    max-width: 400px;
  }
}
@media (max-width: 1250px) {
  .advantages-main__item {
    flex: 1 1 48%;
    margin-left: 0;
    height: auto;
    padding: 10px;
    border-radius: 15px;
  }
  .advantages-main__item:last-child {
    height: auto;
  }
  .advantages-main__item::after {
    display: none;
  }
  .advantages-main__item::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: -10px;
    background-color: #000;
    width: 5px;
    height: 5px;
    z-index: 5;
  }
  .advantages-main__item p {
    position: static;
    transform: translateY(0%);
  }
}
@media (max-width: 470px) {
  .advantages-main__item {
    flex: 1 1 100%;
  }
}

.content-main__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}
@media (max-width: 1180px) {
  .content-main__top {
    flex-direction: column;
  }
}
.content-main__content-1 {
  max-width: 540px;
  margin-right: 25px;
}
@media (max-width: 1180px) {
  .content-main__content-1 {
    margin-right: 0;
    max-width: 100%;
  }
}
.content-main__title {
  font-size: var(--fz-1);
  font-weight: 700;
  margin-bottom: 50px;
}
.content-main__title h1 {
  max-width: 500px;
}
.content-main__title h2 {
  max-width: 600px;
}
@media (max-width: 1180px) {
  .content-main__title h1 {
    max-width: 100%;
  }
  .content-main__title h2 {
    max-width: 100%;
  }
}
.content-main__text {
  line-height: 27px;
  font-size: var(--fz-3);
  max-width: 550px;
}
.content-main__text_m {
  margin-right: 60px;
}
@media (max-width: 900px) {
  .content-main__text_m {
    margin-right: 0;
    max-width: 100%;
  }
}
.content-main__text_mm {
  max-width: 100%;
}
.content-main__text p {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .content-main__text {
    max-width: 100%;
  }
}
.content-main__image-1 img {
  max-width: 100%;
}
@media (max-width: 1180px) {
  .content-main__image-1 {
    text-align: center;
  }
}
.content-main__middle {
  margin-bottom: 95px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1180px) {
  .content-main__middle {
    flex-direction: column;
  }
}
.content-main__image-2 {
  margin-right: 25px;
}
.content-main__image-2 img {
  max-width: 100%;
}
@media (max-width: 1180px) {
  .content-main__image-2 {
    order: 1;
    text-align: center;
    margin-right: 0;
  }
}
.content-main__content-3 {
  display: flex;
}
@media (max-width: 1180px) {
  .content-main__image {
    display: none;
  }
}
.content-main__image img {
  max-width: 100%;
}
